body {
  background-image: linear-gradient(blue, purple);
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  color: white;
  font-size: 80px;
}
