@import 'tailwindcss';
body {
  font-family: Arial, Helvetica, sans-serif;
}
@utility d-flex {
  @apply flex justify-center items-center;
}

@theme {
  --color-primary: theme(colors.gray.300);
  --color-edit-btn: theme(colors.yellow.500);
  --color-delete-btn: theme(colors.red.500);
}
